body {
    font-family: "Roboto", "SeoulNamsan", sans-serif;
    background-color: #eeeeee;
    margin: 0px;
}

.chat_nickname_box.mine { 
    color: #2196F3;
}

.chat_nickname_box.others {
    color: #4CAF50;
}

.chat_nickname_box.others.color-1 { 
    color: #4CAF50;
}
.chat_nickname_box.others.color-2 { 
    color: #3F51B5;
}
.chat_nickname_box.others.color-3 { 
    color: #009688;
}
.chat_nickname_box.others.color-4 { 
    color: #CDDC39;
}
.chat_nickname_box.others.color-5 { 
    color: #FF9800;
}
.chat_nickname_box.others.color-6 { 
    color: #FF5722;
}
.chat_nickname_box.others.color-7 { 
    color: #E91E63;
}

span.chat_nickname_box, .chat_msg_box {
    font-size: 13px;
}


div#chat_wrapper > div {
    margin-bottom: 5px;
}

img.dccon {
    width: 70px;
    height: 70px;
}

#send-chat-card {
    height: 100%;
    display: inline-block;
    width: 100%;
}

#send-chat-card #text-area {
    float: left;
    width: 75%;
}

#send-chat-card #send-button {
    float: right;
    width: 20%;
}

#chat_wrapper {
    white-space: normal;
    overflow: scroll;
    height: 500px;
}
