img.badge_img {
  width: 18px;
}

.chat_nickname_box.mine {
  color: #2196f3;
}

.chat_nickname_box.others {
  color: #4caf50;
}

.chat_nickname_box.others.color-1 {
  color: #4caf50;
}
.chat_nickname_box.others.color-2 {
  color: #3f51b5;
}
.chat_nickname_box.others.color-3 {
  color: #009688;
}
.chat_nickname_box.others.color-4 {
  color: #cddc39;
}
.chat_nickname_box.others.color-5 {
  color: #ff9800;
}
.chat_nickname_box.others.color-6 {
  color: #ff5722;
}
.chat_nickname_box.others.color-7 {
  color: #e91e63;
}

span.chat_nickname_box,
.chat_msg_box {
  font-size: 13px;
}

div#chat_wrapper > div {
  margin-bottom: 5px;
}

img.dccon {
  width: 70px;
  height: 70px;
}

#send-chat-card {
  height: 100%;
  display: inline-block;
  width: 100%;
}

#send-chat-card #text-area {
  float: left;
  width: 75%;
}

#send-chat-card #send-button {
  float: right;
  width: 20%;
}

#chat_wrapper {
  white-space: normal;
  overflow: scroll;
  height: 500px;
}
